<!DOCTYPE html>
<html lang="en">

<head>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <link href="css/customize.css" rel="stylesheet">
</head>


<body>
  <section>
    <div id="contact-form">
        <div>
            <h1>Envie seu email!</h1>
            <h4>A primeira versão será enviada com prioridade a você :)</h4>
        </div>
            <p id="failure">Oopsie...message not sent.</p>
            <p id="success">Your message was sent successfully. Thank you!</p>

               <form method="post" action="/send-email">

                <div class="row">
                  <div class="col-sd-s6 col-md-offset-3">
                    <div>
                      <label for="name">
                      <span class="required">Name: *</span>
                      <input type="text" id="name" name="name" value="" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus" />
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sd-s6 col-md-offset-3">
                    <div>
                      <label for="email">
                      <span class="required">Email: *</span>
                      <input type="email" id="email" name="email" value="" placeholder="Your Email" tabindex="2" required="required" />
                      </label>
                    </div>
                  </div>
                </div>

                <div>
                  <button name="submit" type="submit" id="submit" >SEND</button>
                </div>
              </form>
        </div>
  </section>
</body>



</html>
